punchout-ai/punchout_ai.egg-info/**/*
punchout-ai/punchout_ai/__pycache__/**/*
punchout-ai/punchout_ai/envs/__pycache__/**/*
.vscode/**/*
BizHawk/**/*
!BizHawk/BizHawk.Client.EmuHawk/tools/PunchoutBot/**/*
classes/__pycache__/**/*
__pycache__/**/*
